@import "./../../styles/mixin.scss";
@import "./../../styles/base.scss";

.Header {
  &__navbar {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    height: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);

    @include medium() {
      position: fixed;
      flex-direction: row;
      height: 50px;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }
  }

  &__home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    @include medium {
      justify-content: initial;
      padding: initial;
    }
  }

  &__logo {
    height: 40px;
    width: 40px;
  }

  &__hamburger {
    color: black;
    font-size: 30px;
    padding: 5px;
    margin-right: 25px;
    transform: rotate(90deg);
  }
  &__title {
    font-size: 30px;
    padding: 5px;
    margin-left: 10px;
    @include medium() {
      font-size: initial;
      padding: initial;
    }
  }

  &__title a {
    color: black;
    text-decoration: none;
  }

  &__title a:hover {
    color: black;
    text-decoration: none;
    background-color: white;
  }

  &__nav-links {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    @include medium() {
      flex-direction: row;
    }
  }

  &__nav-item {
    display: inline-block;
    padding: 10px;
    text-align: center;

    @include medium() {
      text-align: initial;
    }
  }

  &__nav-item:hover {
    display: inline-block;
    padding: 10px;
    color: white;
    transition: ease 0.3s;
  }

  &__nav-item a:hover {
    border-bottom: 3px solid rgb(192, 89, 64);
    transition: ease-out 0.3s;
  }

  &__nav-item a {
    text-decoration: none;
    color: black;
  }

  .mobile {
    display: none;
    @include medium() {
      display: initial;
    }
  }

  .desktop {
    display: initial;
    @include medium() {
      display: none;
    }
  }
}
