.MainContent {
  &__rope {
    margin-top: 20px;
    height:100px;
    width:200px;
  }

  @media screen and (min-width:786px){
      &__rope{
          height:100%;
          width:100%;
      }
  }
}
